<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
    <div ng-controller="ContactCtrl as ctrl">
      <form ng-submit="ctrl.search()">
        <div class="col-lg-4">
          <div class="input-group">
            <input type='text' id='txtSearch' class='form-control email' ng-model='ctrl.searchText' placeholder='Enter email address'>
            <span class="input-group-btn">
              <button type='submit' id='btnSearch' class='btn btn-default'">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </form>
      <div class="clearfix"></div>
      <table class="table table-striped">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th></th>
        </tr>
        <tr ng-repeat="contact in ctrl.contacts">
          <td>{{contact.firstName}}</td>
          <td>{{contact.lastName}}</td>
          <td>{{contact.email}}</td>
          <td><a href="" class="glyphicon glyphicon-send" data-placement="left" title="Send Invite"  ng-show="ctrl.searchMode" ng-click="ctrl.invite(contact.userId)"></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

