<div ng-controller="ContactCtrl as ctrl">
  <table class="table table-striped">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
    <tr ng-repeat="contact in ctrl.contacts">
      <td>{{contact.firstName}}</td>
      <td>{{contact.lastName}}</td>
      <td>{{contact.email}}</td>
      <td><a href="" class="glyphicon glyphicon-send" data-placement="left" title="Send Invite"  ng-show="!ctrl.isConnected(contact)" ng-click="ctrl.invite(contact)"></a></td>
    </tr>
  </table>
</div>

