<div ng-controller="DatabaseShareCtrl as ctrl">
  <h3><span class="label label-default">Sharing {{ctrl.document.name}}</span></h3>
  <div class="col-md-10">
    <table class="table table-striped">
      <tr>
        <th>Email</th>
        <th>Share</th>
        <th>Can Copy</th>
        <th>Can Share</th>
      </tr>
      <tr ng-repeat="connection in ctrl.sharedConnections">
        <td>{{connection.text}}</td>
        <td>
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" ng-model="connection.shared">
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" ng-model="connection.canCopy">
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" ng-model="connection.canShare">
            </label>
          </div>
        </td>
      </tr>
    </table>
    <hr/>
    <div class="form-group">
      <div class="col-md-8">
        <button type='button' class="btn btn-warning" id="btnCancel" ng-click="ctrl.cancel()">Cancel</button>
        <button type="submit" class="btn btn-success" id="btnSend" ng-disabled="ctrl.save()">Save</button>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr/>
    <form id="DocumentShareForm" name="DocumentShareForm" class="form-horizontal" role="form"
      ng-submit="ctrl.sendShare()">
      <div class="form-group">
         <div ui-select2="ctrl.select2Options" class="form-control" name="receiver" id="idReceiver" placeholder="Select receivers"
                     ng-model="ctrl.share.receivers" required-multiple="true"></div>
      </div>
      <div class="form-group">
         <input type="text" class="form-control" rows="5" name="subject" id="idSubject" placeholder="Message subject"
                     ng-model="ctrl.share.subject" ng-required="true"></input>
      </div>
      <div class="form-group">
         <textarea class="form-control" rows="5" name="note" id="idNote" placeholder="Add a share message"
                     ng-model="ctrl.share.message" ng-required="true"></textarea>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" ng-model="ctrl.share.canCopy"> Can Copy
            </label>
          </div>
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" ng-model="ctrl.share.canShare"> Can Share
            </label>
          </div>
        </div>
      </div>
      <hr/>
      <!-- <pre>{{ ctrl.share | json }}</pre> -->
      <div class="form-group">
          <div class="col-md-8">
              <button type='button' class="btn btn-warning" id="btnCancel" ng-click="ctrl.cancel()">Cancel</button>
              <button type="submit" class="btn btn-success" id="btnSend" ng-disabled="ctrl.disableShare()">Share</button>
          </div>
          <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>