<div class="row">
  <div class="col-md-offset-2 col-md-6">
    <div alert-bar message="ctrl.ErrorService.message" type="ctrl.ErrorService.type"></div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title clearfix">
      <div class="col-md-5">
        <div ncy-breadcrumb></div>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-success" id="btnSave" ng-click="ctrl.done()">Done</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div ng-repeat="result in ctrl.results">
      <table class="table table-striped">
        <tbody>
          <tr ng-repeat="snippet in result.snippets">
            <td>
              <p class="text-primary" ng-bind-html="snippet"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
