<div ng-controller="DatabaseTagCtrl as ctrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Manage tag for "{{ctrl.document.name}}"</div>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr ng-repeat="docTag in ctrl.docTags">
          <td>
            <input type="checkbox" ng-model="docTag.isTagged">
            {{docTag.name}}
          </td>
        </tr>
      </table>
      <hr/>
      <div class="form-group clearfix">
        <div class="text-left">
          <button class="btn btn-warning" id="btnCancel" ng-click="ctrl.cancel()">Cancel</button>
          <button type="button" class="btn btn-success" id="btnSave" ng-click="ctrl.save()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>