<div ng-controller="DatabaseXRayCtrl as ctrl">
 <h3><span class="label label-default">{{ctrl.document.name}}</span></h3>
  <div ng-repeat="result in ctrl.results">
   <table class="table table-striped">
      <tr ng-repeat="snippet in result.snippets">
        <td>
          <p class="text-primary" ng-bind-html="snippet"></p>
        </td>
      </tr>
   </table>
  </div>
  <div class="form-group clearfix">
    <div class="col-sm-offset-4 col-sm-8 text-right">
      <button type="button" class="btn btn-success" id="btnSave" ng-click="ctrl.done()">Done</button>
    </div>
  </div>
</div>