<div class="row">
  <div class="col-md-offset-2 col-md-6">
    <div alert-bar message="ctrl.ErrorService.message" type="ctrl.ErrorService.type"></div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="row">
        <div class="col-md-10 ellipsis">
          <div ncy-breadcrumb></div>
        </div>
        <div class="col-md-2 text-right">
          <button type="button" class="btn btn-success" id="btnSave" ng-click="ctrl.done()">Done</button>
        </div>
      </div>
      <div class="row">
        <div class="text-center">
          <a href="" class="glyphicon glyphicon-step-backward" data-placement="left" title="First - {{ctrl.firstDocument.name}}" 
              ng-click="ctrl.first()"></a>
          <a href="" class="glyphicon glyphicon-chevron-left" data-placement="left" title="Previous - {{ctrl.previousDocument.name}}" 
              ng-click="ctrl.previous()"></a>
          <span>{{  ctrl.index + 1}} of {{ctrl.documents.length  }}</span>
          <a href="" class="glyphicon glyphicon-chevron-right" data-placement="right" title="Next - {{ctrl.nextDocument.name}}" 
              ng-click="ctrl.next()"></a>
          <a href="" class="glyphicon glyphicon-step-forward" data-placement="right" title="Last - {{ctrl.lastDocument.name}}" 
              ng-click="ctrl.last()"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div ng-bind-html="ctrl.contents"></div> 
  </div>
</div>
