<div ng-controller="DatabaseUploadCtrl as ctrl">
  <div class="row">
    <div class="col-md-offset-1 col-md-8">
      <div alert-bar message="ctrl.ErrorService.message" type="ctrl.ErrorService.type"></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
       <div class="panel-title">
          <div ncy-breadcrumb></div>
       </div>
    </div>
    <div class="panel-body">
      <form novalidate id="idDatabaseUploadForm" name="DatabaseUploadForm" class="form-horizontal" role="form"
          ng-submit="ctrl.save()">
        <div class="form-group">
          <label id="lblFolder for="folder" class="col-md-2 control-label">Upload Folder</label>
          <div class="col-md-4">
            <select class="form-control" name="folder" id="idFolder" ng-options="folder.name for folder in ctrl.folders" 
                   ng-model="ctrl.folder" required>
              <option value="">-- choose target folder --</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label id="lblSelectedFile" for="fileName" class="col-sm-2 control-label">Select Files</label>
          <div class="col-sm-8">
            <table class="table table-striped">
              <tr>
                <th class="col-sm-4">File Name</th>
                <th class="col-sm-2">Status</th>
              </tr>
              <tr ng-repeat="fileObj in ctrl.selectedFiles">
                <td>{{fileObj.fileName}}</td>
                <td>{{fileObj.status}}</td>
              </tr>
            </table>
            <div class="input-group col-sm-1">
              <span class="input-group-btn">
                <div ngf-select ngf-change="ctrl.onFileSelect($files)" ngf-multiple="true" 
                      ngf-accept="'*.pdf,*.doc,*.docx,*.txt'" tabindex="0">
                      <input type="button" class='btn btn-default' value="Browse..."/></input>
                      </div>
              </span>
            </div>
           </div>
         </div>
         <!-- <pre>{{ ctrl.document | json }}</pre>  -->
         <div class="form-group">
             <label class="col-sm-2 control-label"></label>
             <div class="col-sm-2">
                 <button type="button" class="btn btn-warning" id="btnCancel" ng-click="ctrl.cancel()">Cancel</button>
                 <button type="submit" class="btn btn-success" id="btnSave" ng-disabled="!DatabaseUploadForm.$valid">Upload</button>
             </div>
         </div>
      </form>
    </div>
  </div>
</div>

