<div class="row">
  <div class="col-md-offset-1 col-md-8">
    <div alert-bar message="ctrl.ErrorService.message" type="ctrl.ErrorService.type"></div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Manage shares of "{{ctrl.document.name}}"</div>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th class="col-md-2">View</th>
        <th class="col-md-2">Copy</th>
        <!-- <th class="col-md-1">Share</th> 
        <th class="col-md-2">Limited Share</th>
        <th class="col-md-3">Limited Share Until</th> -->
      </tr>
      <tr ng-repeat="contact in ctrl.sharedContacts">
        <td>{{contact.text}}</td>
        <td>
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" ng-model="contact.canView">
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" ng-model="contact.canCopy">
            </label>
          </div>
        </td>
        <!--
        <td>
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" ng-model="contact.canShare">
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" ng-model="contact.isLimitedShare">
            </label>
          </div>
        </td>
        <td>
          <span class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{ctrl.dateOptions.format}}" 
                 ng-model="contact.shareUntilEOD" is-open="ctrl.datePickerOpenedFlag[contact.id]" min-date="{{ctrl.dateOptions.minDate}}" 
                    datepicker-options="ctrl.dateOptions" close-text="Close" placeholder="{{ctrl.dateOptions.format}}"/>
           <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="ctrl.openDatePicker($event, contact)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </span>
        </td> -->
      </tr>
    </table>
    <hr/>
    <form id="idDocumentManageShareForm" name="DocumentManageShareForm" class="form-horizontal" role="form"
          ng-submit="ctrl.update()">
      <div class="form-group">
        <div class="col-md-8">
          <button type='button' class="btn btn-warning" id="btnCancel" ng-click="ctrl.cancel()">Cancel</button>
          <button type="submit" class="btn btn-success" id="btnSend" ng-disabled="ctrl.disableUpdate()">Update</button>
          <button type='button' class="btn btn-success" id="btnAddShare" ng-click="ctrl.goToAddShare()">Add Share</button>
        </div>
      </div>
    </form>
  </div>
</div>
