  <div class="alert alert-danger" ng-show="ctrl.removeAlert">
     <div><strong>Do you want to delete ?</strong>
        <button type='button' class="btn btn-danger display-inline col-md-offset-2" id="btnRemove" ng-click="ctrl.remove()">Yes</button>
        <button type='button' class="btn btn-success display-inline" id="btnHideRemoveAlert" ng-click="ctrl.cancelRemove()">Cancel</button>
     </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title clearfix">{{ctrl.title}}
        <div class="col-md-9 pull-right">
          <div class="col-md-9">
          <form name="FormDatabaseDocument" ng-submit="ctrl.search()">
            <div class="input-group">
              <div class="input-group-btn" data-placement="left" title="Clear search text">
                <button type="button" class="btn btn-default" id="idClearSearchTextBtn" ng-click="ctrl.clearSearchText()">Clear</button>
              </div>
              <input type="text" class="form-control" name="searchBox" id="idSearchBox" ng-model="ctrl.searchText" placeholder="Enter search query" required>
              <div class="input-group-btn" data-placement="left" title="Search">
                <button type="submit" class="btn btn-default" id="idSearchBtn" ng-disabled="!FormDatabaseDocument.$valid">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
          </form>
          </div>
          <button type="button" class="btn btn-success" ng-hide="ctrl.folder.shared" ng-click="ctrl.goToUpload()">Upload</button>
          <button type="button" class="btn btn-success" ng-hide="ctrl.folder.shared" ng-click="ctrl.goToShareFolder()">Share</button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <table st-table="ctrl.displayCollection" st-safe-src="ctrl.documents" class="table table-striped table-fixed">
        <thead>
          <tr>
            <th st-sort="name" class="col-md-3"><a href="">Name</a></th>
            <th st-sort="description" class="col-md-3"><a href="">Description</a></th>
            <th st-sort="createdAt" class="col-md-3"><a href="">Uploaded On</a></th>
            <th class="col-md-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="document in ctrl.displayCollection">
            <td ng-drag="ctrl.isAllowDragDrop(document)" ng-drag-data="{{document}}"><a href="" data-placement="left" title="{{document.name}}" ng-click="ctrl.goToDocumentEdit(document.documentId)">{{document.name}}</a></td>
            <td data-placement="left" title="{{document.description}}">{{document.description}}</td>
            <td>{{document.createdAt  | date : 'shortDate'}}</td>
            <td> 
              <a href="" class="glyphicon glyphicon-folder-open" ng-show="document.canView" data-placement="left" title="View" ng-click="ctrl.goToView(document.documentId)"></a>
              <a href="" class="glyphicon glyphicon-share" ng-show="ctrl.showShareLink(document)" data-placement="left" title="Share" ng-click="ctrl.goToShare(document.documentId)"></a>
            <!-- <a href="" class="glyphicon glyphicon-import" ng-show="document.canCopy" data-placement="left" title="Copy" ng-click="ctrl.copyDocument(document.documentId)"></a>  -->
              <a class="glyphicon glyphicon-save" ng-show="document.canCopy" file-download url="ctrl.getDownloadUrl({{document.documentId}})" data-placement="left" title="Download"></a>
              <a href="" class="glyphicon glyphicon-eye-open" data-placement="left" title="X-Ray" ng-click="ctrl.goToXRay(document.documentId)"></a> 
            <!-- <a href="" class="glyphicon glyphicon-tags" data-placement="left" title="Tag" ng-click="ctrl.goToDocumentTag(document.documentId)"></a> -->
              <a href="" class="glyphicon glyphicon-trash" ng-show="ctrl.showDeleteLink()" data-placement="left" title="Delete" ng-click="ctrl.showRemoveAlert(document.documentId)"></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td class="text-center">
              <div st-pagination="" st-items-by-page="ctrl.ConfigService.documentTablePageSize"></div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

