<div ng-controller="DomainCtrl as ctrl">
  <div class="row">
    <div class="col-md-offset-1 col-md-8">
      <div alert-bar message="ctrl.ErrorService.message" type="ctrl.ErrorService.type"></div>
    </div>
  </div>
  <div class="panel panel-default">
     <div class="panel-heading">
        <div class="panel-title">Domains</div>
     </div>
     <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>Industry</th>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </tr>
        <tr ng-repeat="domain in ctrl.domains">
          <td>{{domain.industryName}}</td> 
          <td><a href="" data-placement="left" title="Edit" ng-click="ctrl.goToEdit(domain)">{{domain.name}}</a></td>
          <td>{{domain.description}}</td>
          <td><a href="" class="glyphicon glyphicon-remove" data-placement="left" title="Remove" ng-click="ctrl.delete(domain)"></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

