<div ng-controller="DomainCtrl as ctrl">
  <h2>Manage Domains</h2>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div alert-bar message="ctrl.ErrorService.message" type="ctrl.ErrorService.type"></div>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
       <td>Industry</td>
       <th>Name</th>
       <th>Code</th>
       <th>Description</th>
       <td></td>
    </tr>
    <tr ng-repeat="domain in ctrl.domains">
     <td>{{domain.industryName}}</td> 
     <td><a href="" data-placement="left" title="Edit" ng-click="ctrl.goToEdit(domain)">{{domain.name}}</a></td>
     <td>{{domain.code}}</td>
     <td>{{domain.description}}</td>
     <td><a href="" class="glyphicon glyphicon-remove" data-placement="left" title="Remove" ng-click="ctrl.delete(domain)"></a></td>
    </tr>
  </table>
  <hr/>
</div>

