<div ng-controller="GlobalSearchCtrl as ctrl">
  <form ng-submit="ctrl.search()">
    <div class="input-group">
      <input type="text" class='form-control' name='searchBox' id='searchBox' ng-model='ctrl.searchText'>
      <span class="input-group-btn" data-placement="left" title="Search">
        <button type="submit" class='btn' id='idSearchBtn'>
         <span class="glyphicon glyphicon-search" data-placement="left" title="Search"></span>
        </button>
      </span>
    </div>
  </form>
</div>