<div ng-controller="JobRequirementCtrl as ctrl">
  <div class="alert alert-danger" ng-show="ctrl.deleteAlert">
     <div><strong>Do you want to delete Job Requirement "{{ctrl.deleteObj.title}}"?</strong>
        <button type='button' class="btn btn-danger display-inline col-md-offset-2" id="btnRemove" ng-click="ctrl.delete()">Yes</button>
        <button type='button' class="btn btn-success display-inline" id="btnHideRemoveAlert" ng-click="ctrl.cancelDelete()">Cancel</button>
     </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-8">
      <div alert-bar message="ctrl.ErrorService.message" type="ctrl.ErrorService.type"></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title clearfix">
        <div class="col-md-10 ellipsis">
          <div ncy-breadcrumb></div>
        </div>
        <div class="pull-right" has-permission="job.create">
          <button type="button" class="btn btn-primary" ng-click="ctrl.goToCreate()">Create</button>
        </div>
      <!--  <div class="col-md-6 pull-right">
          <form ng-submit="ctrl.search()">
            <div class="input-group">
              <div class="input-group-btn" data-placement="left" title="Clear search text">
                <button type="button" class="btn btn-default" id="idClearSearchTextBtn" ng-click="ctrl.clearSearchText()">Clear</button>
              </div>
              <input type="text" class="form-control" name="searchBox" id="idSearchBox" ng-model="ctrl.searchText" placeholder="Job title, technology etc.">
              <div class="input-group-btn" data-placement="left" title="Search">
                <button type="submit" class="btn btn-default" id="idSearchBtn" ng-click="ctrl.search()">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
          </form>
        </div> -->  
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Code</th>
          <th>RefNumber</th>
          <td></td>
        </tr>
        <tr ng-repeat="jobRequirement in ctrl.jobRequirements">
          <td><a href="" data-placement="left" title="Edit" ng-click="ctrl.goToEdit(jobRequirement)">{{jobRequirement.title}}</a></td>
          <td>{{jobRequirement.status}}</td>
          <td>{{jobRequirement.code}}</td>
          <td>{{jobRequirement.refNumber}}</td>
          <td>
            <button type="button" has-permission="job.preview" class="btn btn-success" data-placement="left" title="Preview" ng-click="ctrl.preview(jobRequirement)">Preview</button>
            <button type="button" has-permission="job.delete" class="btn btn-danger glyphicon glyphicon-remove" data-placement="left" title="Remove" ng-click="ctrl.showDeleteAlert(jobRequirement)"></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

