<div ng-controller="JobRequirementCtrl as ctrl">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div alert-bar message="ctrl.ErrorService.message" type="ctrl.ErrorService.type"></div>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
       <th>Industry</th>
       <th>Title</th>
       <th>Code</th>
       <th>RefNumber</th>
       <td></td>
    </tr>
    <tr ng-repeat="jobRequirement in ctrl.jobRequirements">
     <td>{{jobRequirement.industryName}}</td> 
     <td><a href="" data-placement="left" title="Edit" ng-click="ctrl.goToEdit(jobRequirement)">{{jobRequirement.title}}</a></td>
     <td>{{jobRequirement.code}}</td>
     <td>{{jobRequirement.refNumber}}</td>
     <td><a href="" class="glyphicon glyphicon-remove" data-placement="left" title="Remove" ng-click="ctrl.delete(jobRequirement)"></a></td>
    </tr>
  </table>
  <hr/>
</div>

