<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">

     <!--  <li class="active"><a ui-sref="feed" data-toggle="tab">Feeds</a></li>
     <li><a ui-sref="feed" data-target="" data-toggle="tab">Dashboard</a></li>
     <li><a ui-sref="userSkill" data-toggle="tab">Skills</a></li>  -->
     <li><a ui-sref="contact" data-toggle="tab">Contacts</a></li>
     <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">Repository<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a ui-sref="database.documents">My Repository</a></li>
        <li><a ui-sref="sharedRepositories">Shared Repository</a></li>
      </ul>
     </li>
     <li><a ui-sref="messages.messageList" data-toggle="tab">Messages</a></li>
  
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a ui-sref="companyView">Company</a></li>
        <li><a ui-sref="industry">Industry</a></li>
        <li><a ui-sref="domain">Domain</a></li>
        <li><a ui-sref="jobTitle">Job Title</a></li>
        <!-- 
        <li><a ui-sref="skill">Skills</a></li>
         -->
       </ul>
    </li>
  </ul>
  </div> <!-- "navbar-header -->
  <div ng-controller="ContextMenuCtrl as ctrl">
    <div ui-view="viewContextMenu"></div>
  </div>
</div><!-- /.container-fluid -->
</nav><!-- /.navbar -->