<div class="row">
  <div ng-controller="MessageCtrl as ctrl">
     <div class="raw">
        <div class="col-md-3">
          <table class="table table-striped">
            <tr ng-repeat="mbox in ctrl.messageBoxes">
              <td><a href="" ng-click="ctrl.filterMessage(mbox.messageBoxId)">{{mbox.name}}</a></td>
            </tr>
          </table>
        </div>
        <div class="col-md-9">
          <table class="table table-striped">
            <tr ng-repeat="message in ctrl.messages | filter:{messageBoxId: ctrl.filterMessageBoxId}">
              <td>
                <message-bar ng-model="message"></message-bar>
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
</div>

