<div class="row">
  <div ng-controller="SharedDatabaseCtrl as ctrl">
    <div class="alert alert-danger" ng-show="ctrl.removeAlert">
       <div><strong>Do you want to delete ?</strong>
          <button type='button' class="btn btn-danger display-inline col-md-offset-2" id="btnRemove" ng-click="ctrl.remove()">Yes</button>
          <button type='button' class="btn btn-success display-inline" id="btnHideRemoveAlert" ng-click="ctrl.cancelRemove()">Cancel</button>
       </div>
    </div>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Shared By</th>
        <th>Shared At</th>
        <th class="col-md-2"></th>
      </tr>
      <tr ng-repeat="document in ctrl.documents">
        <td data-placement="left" title="{{document.name}}">{{document.name}}</td>
        <td>{{document.sharedBy}}</td>
        <td>{{document.createdAt  | date : 'short'}}</td>
        <td> 
          <a href="" class="glyphicon glyphicon-share" ng-show="document.canShare" data-placement="left" title="Share" ng-click="ctrl.goToShare(document.documentId)"></a>
          <a href="" class="glyphicon glyphicon-save" ng-show="document.canCopy" data-placement="left" title="Copy" ng-click="ctrl.copyDocument(document.documentId)"></a>
          <a href="" class="glyphicon glyphicon-remove-circle" data-placement="left" title="Delete" ng-click="ctrl.showRemoveAlert(document.documentId)"></a>
        </td>
      </tr>
    </table>
  </div>
  <div ui-view></div>
</div>

