<div ng-controller="SubscriptionPermissionCtrl as ctrl">
  <div class="row">
    <div class="col-md-offset-1 col-md-8">
      <div alert-bar message="ctrl.ErrorService.message" type="ctrl.ErrorService.type"></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="panel-title">Manage Subscription and Permission associations
        <!--<div class="btn-group pull-right" has-permission='site.admin'>
          <button type="button" class="btn btn-primary" ng-click="ctrl.goToCreate()">Create</button>
        </div>-->
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>Subscription Name</th>    
          <th>Permission Name</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="subsPerm in ctrl.subscriptionPermissions">
          <td>{{subsPerm.subscriptionName}}</a></td>  
          <td>{{subsPerm.permissionName}}</td>
          <td><a href="" class="glyphicon glyphicon-edit" data-placement="left" title="Edit" ng-click="ctrl.goToEdit(subsPerm)"></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>