<div class="row">
  <div ng-controller="UserSkillCtrl as ctrl">
      <h1>My Skills</h1>
      
      <div ng-repeat="skill in ctrl.userSkills">
        <h3 class="block-inline">{{skill.skillName}}</h3>
        <div><strong>Level: </strong>{{skill.skillLevel}}</div> 
        <div><string>Title: </string>{{skill.descriptionShort}}</div>
        <div><string>Description: </string>{{skill.descriptionLong}}</div>
        <div><a href="" ng-click="ctrl.edit(skill.skillId)">Edit</a></div>
      </div>
      <a href="" id="btnCreate" ng-click="ctrl.create()">Add a new skill</button>
  </div>
</div>

