@* inviteContact Template File *@
@(receiver: String)(sender: String)(token: String)(applicationBaseUrl: String)

<p>
Hey <strong>@receiver</strong>,
</p>
<p>
<strong>@sender</strong> wants to get connected with you, please click <a href="@applicationBaseUrl@routes.ContactController.accept(token)">here</a> to accept.
</p>
<p>
If you are having trouble in accepting his invitation, please copy and paste the following link in a browser to accept.
</p>
<p>
@applicationBaseUrl@routes.ContactController.accept(token)
</p>
<p> 
Thanks,
</p>
<p>
Araneae Team
</p>
