
@headerBackground:        #688DD4;
@headerColor:             #ffffff;


@bodyBackground:        rgb(242, 234, 221);
@bodyColor:             black;
@defaultFont:           13px sans-serif;

@footerBackground:       #213966;
@footerColor:            #ffffff;

