
@headerBackground:        blue;
@headerColor:             white;

@bodyBackground:        #eee;
@bodyColor:             blue;
@defaultFont:           13px sans-serif;

@footerBackground:        purple;
@footerColor:             white;

