
@import '_theme.less';

.header {
    background-color: @headerBackground;
    color: @headerColor;
    font: @defaultFont;
    height : 80px;
    width : 100%;
}

.main {
    background-color: @bodyBackground;
    color: @bodyColor;
    font: @defaultFont;
}

.footer {
    background-color: @footerBackground;
    color: @footerColor;
    font: @defaultFont;
    height : 30px;
    width : 100%;
    bottom: 0;
    position: fixed;
}

.mark-yellow {
   background-color: yellow;
}

.mark-lawngreen {
  background-color: lawngreen;
} 

.mark-aquamarine {
  background-color: aquamarine;
}

.mark-magenta {
  background-color: magenta;
} 

.mark-palegreen {
  background-color: palegreen;
} 

.mark-coral {
  background-color: coral;
}

.mark-wheat {
  background-color: wheat;
} 

.mark-khaki {
  background-color: khaki;
} 

.mark-lime {
  background-color: lime;
}

.mark-deepskyblue {
  background-color: deepskyblue;
} 

.mark-deeppink {
  background-color: deeppink;
} 

.mark-salmon {
  background-color: salmon;
}

.mark-peachpuff {
  background-color: peachpuff;
} 

.mark-violet {
  background-color: violet;
} 

.mark-mediumpurple {
  background-color: mediumpurple;
}

.mark-palegoldenrod {
  background-color: palegoldenrod;
} 

.mark-darkkhaki {
  background-color: darkkhaki; 
} 

.mark-springgreen {
  background-color: springgreen;
}

.mark-turquoise {
  background-color: turquoise; 
}

.mark-powderblue {
  background-color: powderblue;
}