
@import '_theme.less';

.header {
    background-color: @headerBackground;
    color: @headerColor;
    font: @defaultFont;
    height : 80px;
    width : 100%;
}

.main {
    background-color: @bodyBackground;
    color: @bodyColor;
    font: @defaultFont;
}

.footer {
    background-color: @footerBackground;
    color: @footerColor;
    font: @defaultFont;
    height : 20px;
    width : 100%;
    bottom: 0;
    position: fixed;
}