@(message: String)

@contentsSingnIn = {
   <a href="/logout">Logout</a>
}
@contentsLeft = {}
@contentsMain = {
   <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
     <div class="navbar-header">
       <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
         <li class="active"><a href="#/industry" data-target="#industry" data-toggle="tab">Manage Industries</a></li>
         <li><a href="#/skill" data-target="#skill" data-toggle="tab">Manage Skills</a></li>
         <li><a href="#/domain" data-target="#domain" data-toggle="tab">Manage Domains</a></li>
       </ul>
      </div>
    </div><!-- /.container-fluid -->
  </nav><!-- /.navbar -->
  <div>

  <div ng-view></div>
}
@contentsRight = {}

@main("Spider Recruiter Tool")(message)(contentsSingnIn)(contentsLeft)(contentsMain)(contentsRight)
