@(message: String)(implicit flash: Flash)

@contentsSingnIn = {
   <a class="glyphicon glyphicon-cog" href="/settings"></a>
   <a href="/logout">Logout</a>
}
@contentsLeft = {}
@contentsMain = {
  
  <!--   <div ng-view></div> -->
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
     <!--  <li class="active"><a ui-sref="feed" data-toggle="tab">Feeds</a></li>
       <li><a ui-sref="feed" data-target="" data-toggle="tab">Dashboard</a></li>  -->
       <li><a ui-sref="userSkill" data-toggle="tab">Skills</a></li>
       <li><a ui-sref="contact" data-toggle="tab">Contacts</a></li>
       <li><a ui-sref="adviser" data-toggle="tab">Advisers</a></li>
       <li><a ui-sref="database.documents" data-toggle="tab">Repository</a></li>
       <li><a ui-sref="sharedDatabase" data-toggle="tab">Shared Repository</a></li>
       <li><a ui-sref="messages" data-toggle="tab">Messages</a></li>
       <li><a ui-sref="groups" data-toggle="tab">Group</a></li>
       <li><a ui-sref="jobs" data-target="" data-toggle="tab">Jobs</a></li>
       <li><a ui-sref="admin" data-toggle="tab">Admin</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
  </nav><!-- /.navbar -->
  <div ui-view="viewMain"></div>
}

@contentsRight = {
  <div ui-view="viewRightBar"></div>
}

@main("Spider Recruiter Tool")(message)(contentsSingnIn)(contentsLeft)(contentsMain)(contentsRight)

