@(title: String)(message: String)(implicit flash: Flash)

@contentsSingnIn = {
  <div ui-view="viewHeaderBar"></div>
}
@contentsLeft = {}
@contentsMain = {
  <div ui-view="viewMenuBar"></div>
  
  <div ui-view="viewMain"></div> 
}

@contentsRight = {
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="panel panel-primary">
    <div class="panel-body">
      <h2>
        Click <a ui-sref="companySetup" class="text-primary">here</a> to upgrade your account.
      </h2>
    </div>
  </div>
}

@main(title)(message)(contentsSingnIn)(contentsLeft)(contentsMain)(contentsRight)

