@(title: String)(message: String)

@contentsSingnIn = {
   <form class="form-inline" method="POST" action="/login">
     <div class="form-group">
           <label class="sr-only" for="idInputLoginEmail">Email address</label>
           <input type="email" name="email" class="form-control" id="idInputLoginEmail" placeholder="Enter email">
     </div>
     <div class="form-group">
       <label class="sr-only" for="idInputLoginPassword">Password</label>
       <input type="password" name="password" class="form-control" id="idInputLoginPassword"  placeholder="Password">
     </div>
     <button type="submit" class="btn btn-primary">Log In</button>
   </form>
   <div></div>
   <form class="form-inline">
    <h4>
        You have not signed up yet, <a href="/signup"> sign up </a>  now.
     </h4>
     
   </form>
}

@contentsLeft = {}
@contentMain={
 
<br/>
<br/>
<img class="img-center center-block" src='@routes.Assets.at("images/spider.gif")'>

}
@contentsRight = {

   <!-- +++ <head> --> 
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
   <!-- +++ </head> -->
  
   @helper.form(routes.Application.register, 'class -> "form-signin") {
     <h2 class="form-signin-heading">Sign Up</h2>
     
     <input class="form-control" type="first_name" name = "first_name" autofocus="" required="" placeholder="First Name">
     <br>
     <input class="form-control" type="last_name" name = "last_name" autofocus="" required="" placeholder="Last Name">
     <br>
     <input class="form-control" type="email" name = "email" autofocus="" required="" placeholder="Email address">
     <br>
     <input class="form-control" type="password" name="password" required="" placeholder="Password">
     <br>
     <button class="btn btn-primary btn-block" type="submit">Sign up</button>
   }
}

@main(title)(message)(contentsSingnIn)(contentsLeft)(contentMain)(contentsRight)




