@* login Template File *@
@(title: String)(message: String)(token: String)(recoveryForm: Form[String])(implicit flash: Flash)

@contentSignin={
  <div class="col-lg-8">
    <a class="pull-right" href="/login">Login</a>
    <div class="clearfix"></div>
  </div>
}
@contentsLeft = {}
@contentMain={
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
  </head>
  @helper.form(routes.AuthController.recoverPassword(token), 'class -> "form-signin") {
    <h2 class="form-signin-heading">Recover Password</h2>
    @recoveryForm.globalError.map { error =>
      <p class="error">
          @error.message
      </p>
    }

    @flash.get("success").map { message =>
      <p class="success">
          @message
      </p>
    }
    
    @flash.get("error").map { message =>
      <p class="error">
          @message
      </p>
    }
    
    @flash.get("html").map { message =>
      <p class="html">
        @Html(message)
       </p>
    }
    <p class="success">Your one time password will be sent by email.</p> 
    <input class="form-control" type="email" autofocus="" required="true" readonly name="email" placeholder="Enter your email" value="@recoveryForm("email").value">
    <br>
   
    <button class="btn btn-primary btn-block" type="submit">Submit</button>
  }
}
@contentsRight = {}

@main(title)(message)(contentSignin)(contentsLeft)(contentMain)(contentsRight)