@* login Template File *@
@(title: String)(message: String)(resetForm: Form[(String, String, String, String)])(implicit flash: Flash)

@contentSignin={}
@contentsLeft = {}
@contentMain={
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
  </head>
  @helper.form(routes.AuthController.resetPassword, 'class -> "form-signin") {
    <h2 class="form-signin-heading">Recover Password</h2>
    @resetForm.globalError.map { error =>
      <p class="error">
          @error.message
      </p>
    }

    @flash.get("success").map { message =>
      <p class="success">
          @message
      </p>
    }
    
    @flash.get("error").map { message =>
      <p class="error">
          @message
      </p>
    }
    
    @flash.get("html").map { message =>
      <p class="html">
        @Html(message)
       </p>
    }
    <input class="form-control" type="email" autofocus="" required="true" name="email" placeholder="Enter your email" value="@resetForm("email").value">
    <br>
    
    <input class="form-control" type="text" autofocus="" required="true" name="otp" placeholder="One time password" value="@resetForm("otp").value">
    <br>
    
    <input class="form-control" type="password" autofocus="" required="true" name="email" placeholder="New password" value="@resetForm("password").value">
    <br>
    
    <input class="form-control" type="password" autofocus="" required="true" name="email" placeholder="Confirm password" value="@resetForm("confirmPassword").value">
    <br>
   
    <button class="btn btn-primary btn-block" type="submit">Submit</button>
  }
}
@contentsRight = {}

@main(title)(message)(contentSignin)(contentsLeft)(contentMain)(contentsRight)